body {
    background-color: cornsilk;
    padding-top: 5rem;
}
img{

    border-radius:50%;;
    width: 300px;
    height: 300px
}
#net{
  border-radius: 0px;
  width:400px;
  height:300px;
}
p{
font-size: medium;
text-decoration-color: blue;
}

input[type="submit"] {
    background-color: coral;
    color: black;
    font-size: 20px;
    padding: 16px 65px;
    border: none;
    cursor: pointer;
    border-radius: 22px;
    margin-left: 30%;
}
input[type="submit"]:hover {
    background-color: crimson;
    align-items: flex-end;
    margin-left: -initial;
}

label {
    border: goldenrod;
    border-radius : 20px;
    padding: 15px 20px;
    width: 100%;
    font-size: medium;
    box-sizing: border-box;
    margin: 10px;
    color: purple;
    flex-basis: 50%;
}
input text{
    height: 100px;
    width : 75px;
    border-radius : 12px;
    box-sizing: border-box;
    border: none;

}
footer{
    position:relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:peru;
    text-decoration-color:rgb(236, 18, 18);
    text-align: center;
    line-height: 25px;
 }

h4{
    color: green;
}
h1{
    color:crimson;
    text-align: left;
}
h2{
    color:darkmagenta;
    text-align: center;
}
ul {
    list-style-type: square;
    font-size: 30px;
    background-color:lightcoral;

    flex-basis: 100%;
    flex-flow: 100%;
     
  }
  ul a:hover{
      background-color: green;
  }
  li a {
    display: block;
    color:green;
    padding: 8px 16px;
    text-decoration: none;
  }
  li a:hover{
      background-color: purple
  }
p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    color:rgb(233,87,111);
    text-align: center;
}
nav{
  background-color: 1px solid brown;
  text-align: center;
  font-size: 20px;

}
.table{
 border: 1px solid purple;
 box-sizing: border-box;

 padding: 15px;
 text-align: left;
 color:cornflowerblue;


}
.topper{
    color : olive;
    text-align: center;
    font-size: 40px;
}
#container{
    font-family: verdana;
    font-size: 20px;
}

#bar{
    color:maroon;
}
th{
    color: coral;
}
.well {
    max-width: 700px;
    margin: 0 auto;
  }
  
  h1 {
    color: #7c0c0c;
    text-align: center;
    margin-bottom: 30px;
  }
  
  .small-text {
    text-align: center;
    color: #a9a6a6;
    margin-top: 30px;
  }
  
  .fright {
    float: left;
    padding-bottom: 20px;
  }
  
  .fleft {
    float: right;
    padding-bottom: 20px;
  }
  
  
  /* ---- Float clearfix ---- */
  
  .clearfix::after {
    content: " ";
    display: table;
    clear: both;
  }
  input[type="button"]:hover {
    background-color:rgb(212, 188, 142);
    align-items: flex-end;
    margin-left: initial;
    border-radius: border-box;
    padding: 3px;
}
#milesLBL{
  text-align: center;
  justify-content: center;
  padding: 2px;
  border-radius: 4px;
  box-sizing: border-box;
  align-items: center;
}
#kilometersLBL{
  align-items: center;
}
label, input[type="text"],input[type="email"],textarea{
  width: 50%;
  padding: 15px 20px ;
  border: none rgb( 65, 60, 70);
  border-radius: 30px;
  flex-basis: 70%;
  box-sizing: border-box;
  margin: 5px ;
  resize: none;
}